{% extends "base.html" %}
{% load static%}

{%block 'contenido'%}
<div class="container">
    <h2 class="text-center">Nuestros Productos</h2>
    <section>
        <div class="container py-3">
            {%if inmuebles%}
            <div class="row gx-3 gy-3">
                {% for inm in inmuebles %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{inm.nombre}}</h5>
                            <p class="card-text">{{inm.descripcion}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{inm.precio_mensual}}</li>
                            <li class="list-group-item">{{inm.comuna.nombre}}</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Ver más</a>
                        </div>
                    </div>
                </div>
                {% endfor%}
            </div>
            {%else%}
            <div class="container">
                <h4 class="text-center">¡Lo sentimos! No hay inmuebles que cumplan con los criterios</h4>
            </div>
            {%endif%}
        </div>
    </section>
</div>
{%endblock%}