{% extends "base.html" %}
{% load static%}

{%block 'contenido'%}
<div class="col-12 col-md-6 offset-0 offset-md-3 my-3">
    <h2 class="text-center"> Contáctanos </h2>
    <div class="container text-center mx-auto cuadro_formulario">
        <form action={% url 'contacto'%} method="POST">
            {% csrf_token %}

            {{formulario.non_field_errors}}
            <div class="mb-3 text-center">
                <label for="{{formulario.customer_name.id_for_label}}" class="form-label">
                    Nombre
                </label>
                <div>
                    {{formulario.customer_name}}
                </div>
                <div class="text-danger">
                    {{formulario.customer_name.errors}}
                </div>
                <label for="{{formulario.customer_email.id_for_label}}" class="form-label">
                    Correo Electrónico
                </label>
                <div>
                    {{formulario.customer_email}}
                </div>
                <div class="text-danger">
                    {{formulario.customer_email.errors}}
                </div>
                <label for="{{formulario.message.id_for_label}}" class="form-label">
                    Mensaje
                </label>
                <div>
                    {{formulario.message}}
                </div>
                <div>
                    <input type="submit" value="Enviar" class="btn btn-info">
                </div>
            </div>
        </form>
    </div>
</div>
{%endblock%}