{%load static%}
<footer>
    <div class="container bg-mio my-4 py-4 px-4 relative-bottom">
        <div class="row justify-content-between">
            <div class="col-12 col-md-4 text-center ">
                <p class="fs-6">Desarrollado por Diego Larenas</p>
            </div>
            <div class="col-12 col-md-3 text-center ">
                <a href="www.github.com"><i class="fa-brands fa-github icono"></i></a>
                <a href="www.linkedin.com"><i class="fa-brands fa-linkedin icono"></i></a>
                <a href="www.facebook.com"><i class="fa-brands fa-facebook icono"></i></a>
                <a href="www.twitter.com"><i class="fa-brands fa-twitter icono"></i></a>
            </div>
        </div>
    </div>

</footer>