{% extends "base.html" %}
{%load static%}
{%block 'contenido'%}
<div class='container'>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Rut</th>
            <th scope="col">Nombre de Usuario</th>
            <th scope="col">Correo Electrónico</th>
            <th scope="col">Direccion</th>
            <th scope="col">Teléfono</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><h5>{{usuario.user.first_name}} {{usuario.user.last_name}}</h5> </td>
            <td><h5>{{usuario.rut}}</h5></td>
            <td><h5>{{usuario.user.username}}</h5></td>
            <td><h5>{{usuario.user.email}}</h5></td>
            <td><h5>{{usuario.direccion}}</h5></td>
            <td><h5>{{usuario.telefono}}</h5></td>
        </tr>
    </tbody>
</table>
</div>
<br>
<div class="container position-relative">
    <div class="position-absolute top-0 start-50 translate-middle">
        <a class="btn btn-primary" href="{% url 'actualizar_usuario'%}"> Actualizar mis datos de Usuario</a>
    </div>
</div>
{%endblock%}